<%= form_with method: :get, url: admin_reports_path, local: true do |form| %>
  <div class="field">
    <%= form.label :from, 'From:' %>
    <%= form.date_field :from %>
  </div>
  
  <div class="field">
    <%= form.label :to, 'To:' %>
    <%= form.date_field :to %>
  </div>

  <div class="actions">
    <%= form.submit :Filter %>
  </div>
<% end %>